
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (max-width: 1220px){
  
  .__landbg{
    height: 100%;
    padding-bottom: 15px;
  }

  .__div {
    height: 309px;
    top: 40px;
  }

  .__spep {
    margin-top: 35px;
 }

 .__optcard {
    height: 66vh;
  }

  .__numhack1 {
    font-size: 25px;
  }

  .cust-arrow, .cust-arrow1 {
    top: 84%;
  }

  .cust-arrow {
    left: 7%;
  }

  .cust-arrow1 {
    right: 7%;
  }




}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  .__logoimg {
    margin: 14px 7px 3px;
  }

  .__sacaption {
    font-size: 48px;
  }

  .__landbg{
    height: 100%;
    padding-bottom: 15px;
  }

  .__countp {
    font-size: 24px;
  }

  .list-container{
    padding-left: 0px;
  }

  .__abs {
    font-size: 20px;
  }

  .__div {
    height: 309px;
    top: 47px;
  }

  .__spep {
    margin-top: 25px;
  }

  .__newnav .navbar-nav {
    margin-left: 14% !important;
  }

  .__footdiv {
    padding: 5% 4%;
  }

  .__haccaption {
    margin-top: 7%;
  }

  .__optcard {
    padding: 40px 30px;
    height: 67vh;
  }

  .__optinp {
    font-size: 16px;
  }

  .__howsau2 {
    padding: 40px 9%;
  }

  .__newnav .__logoimg {
    margin: 14px 6px 3px 140% !important;
  }

  .__allhr {
    width: 25%;
  }

  .__numhack1 {
    font-size: 20px;
  }

  .__numhack2 {
    height: 145px;
  }

  .cust-arrow, .cust-arrow1 {
    top: 83%;
  }

  .cust-arrow {
    left: 8%;
  }

  .cust-arrow1 {
    right: 8%;
  }

  .__discl1 {
    font-size: 15px;
  }

  .__timline:before {
    right: 11px;
  }

  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
    
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__logoimg {
    margin: 0;
  }

  .__navlink {
    padding: 10px 19px !important;
    margin-top: 12px;
  }

  .__navlinkbtn1 {
    margin: 17px 0 0 40px;
  }

  .__sacaption {
    font-size: 36px;
  }

  .__countp {
    font-size: 18px;
  }

  .list-container{
    padding-left: 0px;
  }

  .__count {
    padding: 0 1em 0 0;
  }

  .__abs {
    font-size: 20px;
  }

  .__div {
    height: 293px;
    top: 48px;
  }

  .__spediv {
    padding: 0 50px 59px;
  }

  .__spep {
    font-size: 17px;
    margin-top: 14px;
  }

  .__newnav .navbar-nav {
    margin-left: 17%;
  }

  .__haccaption {
    font-size: 28px;
    margin-top: 5%;
  }

  .__underlinehac:before {
    top: 88px;
  }

  .__judgediv {
    margin: -33px 0 0 10px;
  }

  .__judges {
    font-size: 14px;
  }

  .__judges1 {
    font-size: 10px;
  }

  .__optcard {
    padding: 40px 30px;
    height: 70vh;
  }

  .__optinp {
    font-size: 15px;
  }

  .__howsau2 {
    padding: 40px 7%;
  }

  .__footdiv img {
    margin-bottom: 20px;
  }

  .__newnav .__logoimg {
    margin: 0px 6px 3px 48% !important;
  }

  .__alldivbg {
    padding: 18px 5% 5%;
  }

  .__allhr {
    width: 45%;
  }

  .__allcard {
    padding: 30px 10px 5px;
  }

  .__numhack {
    font-size: 40px;
  }

  .__numhack1 {
    font-size: 20px;
  }

  .__numhack2 {
    height: 135px;
  }

  .cust-arrow, .cust-arrow1 {
    top: 74%;
  }

  .cust-arrow {
    left: 4%;
  }

  .cust-arrow1 {
    right: 4%;
  }

  .__timp {
    font-size: 13px;
    margin-left: 10px;
  }

  .__timp1 {
    font-size: 14px;
    line-height: 2;
  }

  .__timline:before {
    width: 15px;
    height: 4px;
    right: 8px;
    top: 12px;
  }
  


}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){


  
}


/*=================================================================
  @media screen 560px
==================================================================*/


@media screen and (max-width: 560px){

  .__logoimg {
    margin: 0;
  }

  .__navlink {
    padding: 10px 13px !important;
    margin-top: 0px;
  }

  .__navlinkbtn1 {
    padding: 5px 13px !important;
   margin: 0;
  }

  .__landbg{
    height: 100%;
    padding-bottom: 15px;
  }

  .__sacaption {
    font-size: 24px;
  }

  .__sacaption2 {
    font-size: 12px;
  }

  .__img {
    height: 38vh;
  }

  .__div {
    height: 159px;
    top: 55px;
  }

  .__abs {
    font-size: 20px;
  }

  .__abs1 {
    font-size: 12px;
  }

  .__sect1 {
    font-size: 10px;
  }

  .__spediv {
    padding: 0 20px 59px;
  }

  .__speakerimg {
    height: 25vh;
    margin-top: 10px;
  }

  .__spep {
    font-size: 15px;
    margin-top: 13px;
  }

  .__spep1 {
    font-size: 10px;
  }

  .__marabgin1 {
    height: 208px;
    margin-right: -24px;
  }

  .__underline:before {
    width: 73%;
  }

  .__tropbg {
    margin-top: 10px;
  }

  .__newnav .navbar-nav {
    margin-left: 0% !important;
  }

  .__haclogo {
    margin-top: -5%;
  }

  .__haccaption {
    font-size: 25px;
    margin-top: 5%;
  }

  .__underlinehac:before {
    top: 110px;
    width: 45%;
  }

  .__howsau1 {
    padding: 20px 3%;
  }

  .__imgd {
    height: 38vh;
  }

  .__optdiv {
    padding: 30px 21px;
  }

  .__optcard {
    padding: 30px 20px;
    height: 100%;
  }

  .__howsau2 {
    padding: 20px 4%;
    margin-top: 10px;
  }

  .__footdiv img {
    margin-bottom: 20px;
  }

  .__numhack1 {
    font-size: 25px;
  }

  .__newnav .__logoimg {
    margin: -5px 6px 3px 0 !important;
  }

  .__allp {
    font-size: 20px;
  }

  .__allhr {
    width: 53%;
  }

  .cust-arrow, .cust-arrow1 {
    width: 35px;
    height: 35px;
    line-height: 28px;
    top: 61%;
    font-size: 20px;
  }

  .cust-arrow {
    left: 4%;
  }

  .cust-arrow1 {
    right: 4%;
  }

  .__gen {
    font-size: 20px;
  }

  .__rul {
    font-size: 12px;
  }

  .__discl1 {
    font-size: 15px;
  }

  .__pline {
    width: 40.8%;
  }

  .__timp {
    font-size: 12px;
    margin-left: 5px;
  }

  .__timp1 {
    font-size: 12px;
    line-height: 1.6;
  }

  .__timline:before {
    width: 10px;
    height: 4px;
    right: 0px;
    top: 12px;
  }






}

