/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
    
    
}

/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
    .__gigs {
        margin-top: 8%;
    }

    .__findimg p {
        padding: 127px 0 0;
    }

    .__findmore {
        padding: 32px 0;
    }

    /*Saucecode Alpha css*/
    .__alphabg {
        height: 125vh;
    }
    /*Saucecode Alpha css end*/
}


/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   .__gigs {
        margin-top: 2%;
    }

    .__findimg p {
        padding: 112px 0 0;
    }

    .__findimg p {
        padding: 112px 0 0;
    }

    /*Saucecode Alpha css*/
    /*Saucecode Alpha css end*/
  
}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (max-width: 1220px){
  
    .__gigs {
        margin-top: 7%;
    }

    .__findimg {
    height: 38vh;
    }

    /*Saucecode Alpha css*/
    /*Saucecode Alpha css end*/

}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

    .__gigs {
        margin-top: 2%;
    }

    .__findimg {
        height: 30vh;
    }

    .__findimg p {
        padding: 110px 0 0;
    }

    .__findmore {
        padding: 26px 0;
    }


    .main-text h1 {
        font-size: 36px;
    }

    .__imgbg {
        height: 100%;
    }

    .__hackimg div {
        top: 116px;
    }

    .__welin {
        margin-top: 10px;
    }

    .__imghov {
        width: 100%;
    }

    .__welbg {
        padding: 100px 0;
    }

    .__leadteams {
        margin-left: 0;
    }

    /*Saucecode Alpha css*/
    .__alphainputbtn {
        margin-left: 417px;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        padding: 9px 40px;
    }

    .nav-tabs>li>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        padding: 9px 40px;
    }

    .__map {
        width: 100%;
    }

    .__saucereg {
        padding: 25px 60px;
    }

    .__sauimg {
       margin-left: 0;
    }


    /*Saucecode Alpha css end*/


}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
    .__findmore {
        padding: 25px 0;
    }

    .__leadteam {
        margin-left: 0px;
    }

    /*Saucecode Alpha css*/
    /*Saucecode Alpha css end*/
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__gigs {
        margin-top: 5%;
    }

    .__findimg {
        height: 30vh;
    }

    .__findimg p {
        padding: 106px 0 0;
    }

    .__findmore {
        padding: 25px 0;
    }

    .__avafindp {
        padding: 25px 35px;
    }

    .__avafindp p:nth-child(1) {
        font-size: 25px;
    }

    .__avafindp1 {
        padding: 25px 35px;
    }

    .__avafindp1 p:nth-child(1) {
        font-size: 25px;
    }

    .__avalatcardsup {
        padding: 15px 15px 3px;
    }

    .__navlogo {
        margin-left: 1% !important;
    }

    .main-text h1 {
        font-size: 27px;
    }

    .__welbg {
        padding: 50px 0;
    }

    .__hackimg div {
        top: 79px;
    }

    .__welin {
        margin-top: 4%;
    }

    .__welin p:nth-child(1) {
        font-size: 20px;
    }

    .__welin p:nth-child(2) {
        font-size: 12px;
    }

    .__imgbg {
        height: 100%;
    }

    .__who {
        margin-top: 0;
    }

    .__wwwbor {
        padding: 30px 22px;
    }

    .__wwwborm {
        padding: 30px 22px;
    }

    .__trophycard {
        padding: 20px;
        width: 100%;
    }

    .__leadteam {
        margin-left: 0;
    }

    .__leadteams {
        margin-left: 0;
    }

    /*Saucecode Alpha css*/

    .__alphabg {
         height: 82vh;
    }

    .__alphahead p:nth-child(1) {
        font-size: 30px;
    }
    .__alphamed {
        width: 100%;
        margin-top: 0;
        position: unset;
    }

    .__alphainputbtn {
        margin-left: 312px;
    }

    .__map {
        width: 100%;
    }

    .__saucereg {
        padding: 25px 30px;
    }

    .nav-tabs>li>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        padding: 9px 60px;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        padding: 9px 60px;
    }
    /*Saucecode Alpha css end*/

	

}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){
    

    .__newlandbg {
        height: 100%;
    }

    .__avaseem {
        margin-top: 6%;
    }

    .__avafindp {
        margin-top: 6%;
    }

    .__avafindp1 {
        border-left: none;
        margin-top: 5%;
    }

    .__navbar-b {
        background: #00010e;
        position: unset;
        top: 0;
        width: 100%;
        margin-bottom: 0;
    }

    .__navlogo {
        display: none;
    }

    .__navlogom{
      display: inline-block;
    }

     .main-text {
        top: 6%;
        position: unset;
    color: #FFF;
    background: #00010e;
    width: 100%;
    }

    .main-text h1 {
        font-size: 41px;
    }

    .__hackimg img {
        width: 100%;
    }

    .__imgbg {
        height: 100%;
    }

    .__welbg {
        padding: 0px 50px;
    }

    .__wwwborm {
        border-right: none;
        border-left: none;
        padding: 30px 55px;
    }

    .__leadteam {
         margin-left: -203px;
    }

    .__teamv {
        margin-top: 5%;
    }

    .__teamc {
        margin-top: 10%;
    }

    .__leadteams {
        margin-left: -194px;
    }

    .__hackleadimg {
        margin-top: 5px;
    }

    .__teams {
        margin-left: -47%;
    }

    /*Saucecode Alpha css*/

    .__alphabg {
        height: 82vh;
    }

    .__alphahead {
        margin-top: 10%;
    }

    .__alpharow {
        margin-top: 0;
    }

    .__alphainputbtn {
        margin-left: 700px;
    }

    .navbar-toggle {
        background-color: #272727;
    }
    /*Saucecode Alpha css end*/

    
  
}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

    .navbar-toggle {
        background-color: #272727;
    }


    .__newlandbg {
        height: 100%;
    }
  	
    .__gigs {
        margin-top: 5%;
        font-size: 15px;
    }

    .__acomm {
        font-size: 10px;
    }

    .__saucbtn1 {
        padding: 6px 12px;
        font-size: 10px;
    }

    .__saucbtn2 {
        padding: 6px 28px;
        font-size: 10px;
    }

    .__findimg p {
        padding: 99px 0 0;
    }

    .__avafindp {
        padding: 11px 10px;
        margin-top: 5%;
    }

    .__avafindp p:nth-child(1) {
        font-size: 25px;
    }

    .__avafindp1 {
        border-left: none;
        padding: 11px 10px;
        margin-top: 5%;
    }

    .__avafindp1 p:nth-child(1) {
        font-size: 25px;
    }

    .__ffree {
        font-size: 25px;
    }

    .__img {
        height: 73vh;
    }

    .__navbar-b {
        background: #00010e;
        position: unset;
        top: 0;
        width: 100%;
        margin-bottom: 0;
    }

    .__navlogo {
        display: none;
    }

    .__navlogom{
      display: inline-block;
    }

    .__carousel-indicators {
        text-align: center;
    }

    .__carousel-indicators p {
        text-align: center;
    }

    .main-text {
        top: 6%;
        position: unset;
    color: #FFF;
    background: #00010e;
    width: 100%;
    padding-top: 20px;
    }

    .main-text h1 {
    font-size: 27px;
    }

    .__lrarrow {
        width: 20px;
    }

    .__welin {
        margin-top: 10%;
    }

    .__welbg {
    padding: 0;
    }

    .__hackimg div {
    top: 91px;
    }

    .__imgbg {
    height: 100%;
    }

    .__wwwbor {
    padding: 20px 0;
    }

    .__who {
        margin-top: 10px;
    }

    .__wwwborm {
    border-right: none;
    border-left: none;
    padding: 20px 0;
    }

    .__imghov {
    width: 100%;
    }

    .__trophycard {
    width: 100%;
    }

    .__leadteam {
        margin-left: 0;
    }

    .__teamv {
        font-size: 14px;
        margin-top: 0;
    }

    .__teamc {
       font-size: 13px;
    margin-top: 24px;
    }

    .__leadteams {
        margin-left: 0;
    }


    .__teams {
        margin-left: 0;
    }

    .__autent {
        padding: 50px 10px;
    }


    /*Saucecode Alpha css*/
    .__alphabg {
        height: 100%;
    }

    .__alphamed {
        width: 100%;
        position: unset;
        margin-top: 11px;
    }

    .__alphainputbtn {
        bottom: 2px;
        margin-left: 252px;
    }
    .__alphahead {
        margin-top: 0%;
    }

    .__alphahead p:nth-child(1) {
        font-size: 26px;
    }

    .__alphamis p:nth-child(2) {
        font-size: 25px;
    }

    .__alphamedimp1 {
        border-right: none;
    }

    .__alphahow p:nth-child(2) {
        font-size: 25px;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        padding: 9px 15px;
    }

    .nav-tabs>li>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        padding: 9px 14px;
    }

    .__map {
        width: 100%;
        height: 100%;
    }

    .__saucereg {
        padding: 16px 19px;
    }

    .__sauimg {
        width: 100%;
        margin-left: 0;
    }

    /*Saucecode Alpha css end*/

}

